{% load admin_urls %}
<style>
    .audit_trail_changes, .audit_trail_changes tr, .audit_trail_changes td {
        border: 0 !important;
    }
</style>
{% if audit_trail.is_related_changed %}
    <b>{{ audit_trail.related_trail.content_type|capfirst }}</b>
    "{{ audit_trail.related_trail.object_repr }}"
    was {{ audit_trail.related_trail.get_action_display|lower }}
    {% with audit_trail=audit_trail.related_trail changes=audit_trail.related_trail.get_changes %}
        {% include "audit_trail/changes.html" %}
    {% endwith %}
{% else %}
    <table class="audit_trail_changes" style="border: 0">
        {% for field_label, change in changes.items|slice:":6" %}
            {% include "audit_trail/change_row.html" %}
        {% endfor %}
        {% if changes|length > 6 %}
            <tr class="show_more_link_container">
                <td colspan="3">
                    <a href="#" onclick="django.jQuery(this).parents('.audit_trail_changes').find('.more_changes').show(); django.jQuery(this).parents('.show_more_link_container').hide();">Show more</a>
                </td>
            </tr>
            <tbody class="more_changes" style="display: none">
                {% for field_label, change in changes.items|slice:"6:" %}
                    {% include "audit_trail/change_row.html" %}
                {% endfor %}
            </tbody>
        {% endif %}
    </table>
{% endif %}
